.items-relations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;

  &__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto minmax(90px, 1fr) / 1fr;
    align-items: start;
    gap: 20px;
    background-color: #1d1e1f;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    position: relative;

    .loader {
      &__svg {
        width: 100px;
        height: 100px;
      }
      &__text {
        font-size: 25px;
      }
    }
  }

  &__title {
    font-size: 16px;
    text-transform: capitalize;
  }
}
