.characteristics-point {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  text-transform: capitalize;

  &__title {
  }

  &__info {
    display: flex;
    gap: 5px;

    &_text-transform {
      text-transform: initial;
    }
  }

  &__value {
  }

  &__unit {
    text-transform: initial;
  }
}
