.relations-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-auto-rows: 1fr;
  align-items: start;
  gap: 10px;
  position: relative;

  .loader {
    transform: translate(-50%, -20%);

    &__svg {
      width: 100px;
      height: 100px;
    }
    &__text {
      font-size: 25px;
    }
  }
}
