.item-relation {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr / 1fr;
  justify-items: center;
  gap: 5px;
  height: 100%;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  cursor: pointer;

  &:hover {
    background-color: #2d2e30;
  }

  &_error {
    &:hover {
      background-color: #6b0e0f;
      cursor: not-allowed;
    }
  }

  &__img {
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #000;
  }

  &__name {
    text-align: center;
    font-size: 14px;
  }
}
