.about-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-characteristics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  overflow: hidden;

  &__img {
    padding: 0px 0px 120% 0px;
  }
}