.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #e3e3e3;
  height: 100%;

  &_silver-text {
    color: #6b6b6b;
  }

  &__logo {
    max-width: 200px;
  }

  &__status {
    font-size: 36px;
  }

  &__text-status {
  }

  &__url {
    font-size: 30px;
  }

  &__text-url {
  }

  &__return-home {
    font-size: 30px;
  }
}
