.category-item {
  .image-valid {
    padding: 0px 0px 100% 0px;
  }
}

.item-characteristics {
  .image-valid {
    padding: 0px 0px 100% 0px;
  }
}

.item-relation {
  .image-valid {
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #000;
  }
}
