@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: url(../public/img/bg-stars.jpg) top center #000;
  height: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 400;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;

    &:hover {
      background: #b5b7b7;
    }
  }
}

#root {
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.lightsaber {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 10%;
    height: 1px;
    border-radius: 10px;
    background-color: #b5b7b7;
  }

  &::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: -2px;
    width: 10%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px #fade4b;
    transition: all 0.5s;
  }

  &:hover {
    &::after {
      width: 90%;
    }
  }
}

.adaptive-img {
  position: relative;
  padding: 0px 0px 40% 0px;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1000px;
}