.characteristics-points {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 15px 15px 20px;
  background-color: #1d1e1f;

  &__name {
    font-size: 20px;

    @media (max-width: 500px) {
      font-size: 18px;
    }
  }
}
